# Ignore loads of file types.

*#
*.aux
*.bbl
*.blg
*.beam
*.dvi
*.eps
*.gfc
*.gfr
*.hi
*.log
*.nav
*.o
*.pdf
*.prof
*.ps
*.ptb
*.tmp
*.toc
*.snm
*/.svn
*~
.#*
.*.agda.el
*.agdai
.DS_Store
._*
.yi.dbg
_darcs
